<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title></title>
      <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css')}}" rel="stylesheet">
</head>
<body>
  <form method="get" action="/"><input type="submit" value="Домой"></form>
{% if msg %}
    <p>Message: {{ msg }}</p>
{% endif %}
  
</body>
</html>
